.add-color {
  display: flex;
}

.product-container {
  width: 350px;
}

.product-poster {
  width: 350px;
  height: 440px;
  object-fit: contain;
}

.product-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-summary {
  margin-top: 0px;
  text-align: justify;
  margin-bottom: 0px;
}

.product-price {
  font-weight: 500;
  font-size: 20px;
}
.priceStyle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  flex-wrap: wrap;
}

.product-rating {
  font-size: 20px;
  font-weight: bold;
}

.add-product-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
